.Admin {
    .admin_sidenav {
        width: 15%;
    }

    .main_content {
        margin-left: 15%;
        padding:0 1.3em;

        .heading{
            @include grid(3);
            gap:2em;
            padding: 0.5em 0.9em;

            input{
                width: 80%;
                padding:0.3em  0.5em;
                border-radius: 20px;
            }
            .btn{
                width: 30%;
                margin-left:50%;
            }
        }

        .table{
            padding:0.9em 1.2em;

            table{
                width: 95%;
                border-collapse: collapse;

                thead{
                    background: $primary-color;
                    color:$secodary-color;
                
                    tr{
                        th{
                            padding:0.5em 0.3em;
                            border-right: 2px solid $secodary-color;
                            text-align: left;

                            &:last-of-type{
                                text-align: center;
                            }
                        }
                    }
                }

                tbody{
                    tr{
                        border-bottom: 1px solid $primary-color;
                        td{
                            padding:0.3em 0.9em;

                            &:last-child{
                                text-align: center;
                            }
                            .fa-trash-alt{
                                color:red;
                            }
                            .fa-pencil-alt{
                                color:green;
                            }
                        }
                    }
                }
            }
        }
    }
}