.items_container{
   @include grid(4);
   
    .coffee-container{
        width: 95%;
        box-shadow: 3px 3px 2px grey;
        border-radius: 8px;
        margin:0 0 3em;
    
        .items_content{
            text-align: center;
            img{
                width: 100%;
                border-radius: 8px;
                height: 20%;
            }
            .item_infor{
                .items{
                    display: flex;
                    gap:1.5em;
                    padding:0.5em 1.3em;
    
                    p{
                        border: 1px solid grey;
                        justify-content: start;
                        padding: 0.1em 0.4em;
                        border-radius: 50px;
                        font-weight: 550;
                    }
                }
                .title{
                    text-align: start;
                    padding:0.3em 1.3em;
                    display: flex;
                    gap:1.3em;
    
                    .items_details{
                        display: flex;
                        flex-direction:column;
    
                        span{
                            font-size: 1.2em;
                            font-weight: bold;
                            padding:0.3em 0
                        } 
                        span:last-child{
                            color:$price-color;
                        }   
                    }
                    span{
                        padding: 1.2em 2em;
                        i{
                            font-size: 1.5em;
                            cursor: pointer;
                        }
                    }  
                            
                }
            }
    
        }
    }
}
